<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <div class="col">
      <img class="Icon" src="assets/uber.png" />
      <h1 id="h1">В путь с _Название_Проекта</h1>
      <div [ngSwitch]="this.registration_step" id="registerform">

        <h4 #infoErr class="infoErr" style="display: none;"></h4>
        
        <ng-template ngSwitchCase="1">
          <div>
            <h5>Введите свой номер телефона (обязательно)</h5>
            <div class="wide"><input type="tel" (change)="this.validatePhone()"  #phone id="phone" ></div>
            <p>Продолжая, вы утверждаете, что прочитали и принимаете
            <a href="some.html">Или подключитесь с помощью аккаунта социальной сети</a>
          </div>
        </ng-template>

        <ng-template ngSwitchCase="2">
          <div>
            <h5>Введите данные для создания аккаунта</h5>

            <div class="row">
                <div class="input_container">
                    <p>Имя(обязательно)</p>
                    <input type="text" placeholder="Имя" #first_name  id="first_name">
                </div>

                <div class="input_container">
                    <p>Фамилия(обязательно)</p>
                    <input type="text" placeholder="Фамилия" #second_name id="second_name">
                </div>
            </div>


            <div class="input_container">
                <p>Введите пароль(обязательно)</p>
                <input type="password" (change)="this.validatePassword()" #password id="pass">
            </div>

            <p>Продолжая, вы утверждаете, что прочитали и принимаете
            <a href="some.html">Условия предсталения услуг</a> и <a href="some.html">Политику конфинденциальности</a>.
            </p>
          </div>
        </ng-template>

        <ng-template ngSwitchCase="3">
          <div>
            <h5>Укажите ваш адрес эл. почты</h5>
            <div class="wide">
                <p>Введите свой адрес электронной почты(обязательно)</p>
                <input type="email" (change)="this.validateEmail()" #email  id="email" >
            </div>
          </div>
        </ng-template>

        <ng-template ngSwitchCase="4">
          <div>
            <h5>На вашу почту отправлен код подтверждения</h5>
            <div class="wide"><input type="tel" #code id="code" ></div>
          </div>
        </ng-template>


        <button (click)="next()" #nextBtn id="next">Далее</button>

      </div>

    </div>

  </body>

</html>
