.nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: max-content;
	top: 0;
  
}
.nav__list{
  margin: 0;
}
.nav {
	background: gray;
	&__title {
		margin: 0px 30px;
	}
	&__item {
		display: inline-flex;
    height: 30px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
	}
}
.nav__item:hover{
  background-color: cornflowerblue;
}
.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	background: white;

	h1 {
		font-size: 6em;
		margin: 0 90px;
		text-align: center;
	}
}
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


footer {
	text-align: center;
  background-color: gray;
  margin: 0;
}
footer p {
  margin: 0;
  padding: 3px;
}
