body{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html{
    height: 100%;
}

.Icon{
    width: 100px;
    margin-bottom: 20px;
}
#registerform{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.col{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    align-self: center;
}

button{
    width: 100%;
    margin-top: 10px;
    color: white;
    padding: 10px;
    font-size: 15pt;
    background-color: black;
    border: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input{
    display: flex;
    border: 0px;
    border-bottom: 1px solid lightslategray;
    margin: 0px;
    width: calc(100% - 4px);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
}
input:focus{
    border: 0px;
}
.row{
    display: flex;
    flex-direction: row;
}

.wide {
    overflow: hidden;
}
a{
    text-decoration: none;
    color: lightskyblue;
}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
}
.input_container{
    margin: 2px;
}