<nav class="nav">
  <div class="nav__title">Название_проекта</div>
  <ul class="nav__list">
    <li class="nav__item">Contacs</li>
    <li class="nav__item">About Us</li>
    <li class="nav__item">Account</li>
  </ul>
</nav>

<router-outlet></router-outlet>
<div class="hero"></div>
<footer>
  <p>No Copyright 1996</p>
</footer>
